MONGO_URI=mongodb://admin:pass@localhost:27019
PAYMENT_MONGO_DATABASE=payment_mongo_db
RABBIT_CONNECTION=amqp://guest:guest@localhost:5672/
RABBIT_ORDER_QUEUE=RABBIT_ORDER_QUEUE
RABBIT_PAYMENT_QUEUE=MS_PAYMENT_QUEUE
PIX_KEY=suachavepix@email.com
MERCHANT_NAME=AppDelivery
MERCHANT_CITY=SaoPaulo
API_BASE_URL=http://localhost:3000
MERCADO_PAGO_ACCESS_TOKEN=TEST-1234567890123456-123456-abcdef1234567890
MERCADO_PAGO_PUBLIC_KEY=TEST-1234-5678-9012-3456
MERCADO_PAGO_USER_ID=123456789
MERCADO_PAGO_POS_ID=SUAPOSID
WEBHOOK_SECRET=seu-webhook-secret
