MONGO_URI=mongodb://admin:password@localhost:27017
PAYMENT_MONGO_DATABASE=payment
RABBIT_CONNECTION=amqp://guest:guest@localhost:5672/
RABBIT_PAYMENT_QUEUE=payment_queue
JWT_SECRET=fuu-jwt-secret-2026
ABACATE_PAY_API_KEY=your_api_key_here
PORT=8084
